[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipython = {extras = ["notebook"]}
jupyter = {extras = ["notebook"]}
matplotlib = "~=3.2.1"
pandas = "==1.0.1"
seaborn = "*"
or2ywtool = "*"
black = "==19.3b0"

[dev-packages]

[requires]
python_version = "3.8"
